<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="printerSettings" type="ModuleDrawingPrinter.MConfigFontsSection, ModuleDrawingPrinter" />
  </configSections>
  <printerSettings>
    <settings>
      <add key="dpm" value="7"></add>
    </settings>
    <fonts>
    </fonts>
  </printerSettings>
</configuration>