<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="printerSettings" type="ModuleDrawingPrinter.MConfigFontsSection, ModuleDrawingPrinter"/>
  </configSections>
  <printerSettings>
    <settings>
      <add key="yOrigin" value="-3.5"></add>
    </settings>
    <fonts>
    </fonts>
  </printerSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
