<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="startupHardwareCommands" type="ProfileCut.RConfigHardwareCommandsSection, ProfileCut"/>
  </configSections>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <connectionStrings>
    <add name="FireBirdConnection" connectionString="charset=WIN1251;datasource=localhost;database=db.fdb;user=sysdba;password=masterkey" />
  </connectionStrings>
  <appSettings>
    <add key="ModelCode" value="arm!207" />
    <add key="MasterItemTemplate" value="OptItem" />
    <add key="MasterCollection" value="Optimizations:0" />
    <add key="DetailTemplate" value="OptView" />
    <!--<add key="DetailCollection" value="Profiles:0/Canes:0" />-->            
    <add key="SelectedHtmlElementClass" value="selectedObject" />
    <add key="Navigation" value="profiles:профиль/canes:хлыст" />
    <add key="PrintLevel" value="2" />
    <add key="PrintTemplate" value="cane_stickers" />
    <add key="MasterItemsUpdateIntervalMs" value="10000" />
    <add key="Debug" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PrinterModule" value="..\..\..\ModuleZebraPrinter\bin\Debug\ModuleZebraPrinter.dll"/>
  </appSettings>

  <startupHardwareCommands>
    <hardwareCommands>
      <!--<add key="commandProfiles" text="Профиль" applyTo="profiles/canes" list="profiles" step="1" send="arg1, arg2" module="test.dll" func="doWork"/>
      <add key="commandCanes" text="Хлыст" applyTo="profiles/canes" list="canes" step="1" send="arg1, arg2" module="test.dll" func="doWork"/>
      <add key="commandDetails" text="Деталь" applyTo="profiles/canes" list="details" step="1" send="arg1, arg2" module="test.dll" func="doWork"/>-->
      <add key="commandStart" module="" text="Старт" ></add>
      
    </hardwareCommands>
  </startupHardwareCommands>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>