<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="printButtons" type="ProfileCut.RConfigRegisterButtons, ProfileCut"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <connectionStrings>
    <add name="FireBirdConnection" connectionString="charset=WIN1251;datasource=localhost;database=db.fdb;user=sysdba;password=masterkey"/>
  </connectionStrings>
  <appSettings>
    <add key="ModelCode" value="podst"/>
    <add key="MasterItemTemplate" value="OptItem"/>
    <add key="MasterCollectionPath" value="Optimizations"/> <!--collect1:index/collect2:index/collect3 -->
    <add key="DetailTemplate" value="OptView"/>    
    <add key="SelectedHtmlElementClass" value="selectedObject"/>
    <add key="Navigation" value="profiles:профиль/canes:хлыст"/>
    <add key="MasterItemsUpdateIntervalMs" value="10000"/>
    <add key="Debug" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>       
  </appSettings>
  <printButtons>
    <buttons>
      <button name="btn1" 
        text="Печать"           
        module="..\..\..\ProfileCut\bin\Debug\ModuleDrawingPrinter.dll" 
        nameSpace="ModuleDrawingPrinter"
        class="Printer"
        printer="ZDesigner LP 2844"   
        attrTemplate="PRINT_STICKERS"
      />      
    </buttons>
  </printButtons>  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
