<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="printerSettings" type="ModuleZebraPrinter.MConfigFontsSection, ModuleZebraPrinter"/>
  </configSections>
  <printerSettings>
    <settings>
      <add key="dpm" value="7.8"></add>
      <!--<add key="xHomePos" value="0"></add>
      <add key="yHomePos" value="25"></add>-->
    </settings>
    <fonts>
      <add key="font1" name="E:TT0003M_.FNT" height="20" width="20"></add>
      <add key="font2" name="E:TT0003M_.FNT" height="30" width="30"></add>
      <add key="font3" name="E:TT0003M_.FNT" height="40" width="40"></add>
      <add key="font4" name="E:TT0003M_.FNT" height="30" width="30"></add>
    </fonts>
  </printerSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
