<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Neodynamic.SDK.ThermalLabel" version="5.0.3513.1119" targetFramework="net45" />
  <package id="Neodynamic.WinControls.BarcodeProfessional" version="7.0.2000.19" targetFramework="net45" />
  <package id="Neodynamic.Windows.ThermalLabelEditor" version="5.0.3500.14" targetFramework="net45" />
</packages>