<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace">

  <targets>
    <target xsi:type="File"
      name="trace_log"
      layout="${longdate}. ${message}"
      fileName="${basedir}/${shortdate}.log"
      />

    <target xsi:type="File"
     name="error_log"
     layout="${longdate}. Error. ${message}"
     fileName="${basedir}/${shortdate}.log"
      />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="trace_log" />
    <logger name="*" minlevel="Error" writeTo="error_log" />
  </rules>
</nlog>